<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.AdminMapper">
    <select id="getAdminByName" resultType="com.spring.bean.Admin">
        select * from admins where phone=#{loginName}
    </select>
    <select id="getAdminAuthList" resultType="java.lang.String">
        select
        mau.action
        from manage_authorities mau
        LEFT join manage_role_authorities mra on mra.authority_id = mau.id
        LEFT join manage_admin_roles mar on mar.role_id = mra.role_id
        where mar.admin_id = #{adminId} ORDER BY mau.id desc
        LIMIT 3
    </select>
</mapper>
